<div class="overlay">
  <dialog class="dialogContainer" [attr.open]="isShow() ? true : null">
    <div class="container">
      <form (ngSubmit)="test()">
        <label class="label">Title</label>
        <input class="inputText" name="title" [(ngModel)]="title" />

        <br />

        <label class="label">Order</label>
        <input class="inputText" name="order" [(ngModel)]="order" />

        <br />
        <time dateTime="2018-07-07">s</time> <br />
        <button class="okBtn">Add</button>
        <button type="submit" class="cancelBtn" (click)="onExit.emit(false)">
          Cancel
        </button>
      </form>
    </div>
  </dialog>
</div>
