<div class="card">
  <img src="https://via.placeholder.com/300x200" alt="Card Image" />
  <div class="card-content">
    <h2 class="card-title">
      {{
        restaurant()?.name ?? "Please Select a resraurant to view their dishes"
      }}
    </h2>
    <p class="card-description">
      {{ restaurant()?.des }}
    </p>
    <button href="#" class="card-button" (click)="handleShowOrder()">
      Order
    </button>
  </div>
</div>

<div>
  @if (isShowOrder()) {
  <app-restaurant-add-order
    [isShow]="true"
    (onExit)="isShowOrder.set($event)"
  ></app-restaurant-add-order>
  }
</div>
